._error{
	color: #F1FAEE;
	margin: 0 auto;

}
._error h1{
    color: #FF6243;
    font-style: bold;
    padding-bottom: 5px;
    float: right;
    font-size: 55px;
}
._error h2{
    color: rgb(7, 7, 7);
    font-style: bold;
    padding-bottom: 6px;
    text-justify: newspaper;
    border-bottom: 2px;
}
._error .col-md-6 p{
    font-size: 17px;
    margin-top: 5px !important;
    padding-left: 10px;
    padding-right: 20px;
    
}
._error img{
    height: 150px;
    width: 130px;
    float: right;
    margin-right: 30%; 
}
._error ul.li.a{
    color: teal;
    padding-top: 3px;
}