
.scroll {
    background-color: var(--fourth-color);
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
}
  
.arrow-up {
    color: white;
}
  