.travel-card .media {
    height: 150px;
    overflow: hidden;
    border: 2px solid var(--fourth-color);

}
.travel-card .media .media-img{
    overflow: hidden;
    position: relative;
    width: 30%;
    height: 100%;
}
.travel-card .media .media-body{
    height: 100%;
}

.travel-card .card {
    min-height: 150px;
    max-height: 370px;
    /* border: 2px solid var(--fourth-color); */
}
.travel-card .card .card-img{
    height: 250px !important;
    overflow: hidden;
    border-radius: 0;

}
.travel-card .card p span{
    margin-right: 2px;
}
.travel-card .card p span i{
    font-size: 12px;
}
.travel-card .card p span i.fa-star{
    font-size: 16px;
    color: gold;
    font-weight: bold;
}
.travel-card .card .card-img-top{
    position: relative;
    overflow: hidden;
    height: 150px;
}
.travel-card .card p:first-child{
    height: 55px;
}
.travel-card .card p:nth-child(2){
    margin: 0;
}